<%- include('_layouts/head') -%>
        <main>
            <h1>Thank you for shopping at AngelsTea!</h1>
            <h2>Your Invoice</h2>
            <section id="outputResult">
                <h3><span>Name:</span> <%= name %></h3>
                <h3><span>Email:</span>: <%= email %></h3>
                <h3><span>Phone:</span> <%= phone %></h3>
                <h3><span>Address:</span> <%= address %></h3>
                <h3><span>City:</span> <%= city %></h3>
                <h3><span>Province:</span> <%= province %></h3>
                <h3><span>Postal Code:</span> <%= postcode %></h3>
                <h3><span>Delivery time:</span> <%= deliverytime %> Days</h3>
                <h3><%= greenteaQuantity %><span> Green Tea @ $6.50: </span>  $<%= greenteaSubtotal.toFixed(2) %></h3>
                <h3><%= orangepekoeQuantity %><span> Orange Pekoe @ $5.50: </span> $<%= orangepekoeSubtotal.toFixed(2) %></h3>
                <h3><%= rooibosQuantity %><span> Rooibos @ $7.50: </span>  $<%= rooibosSubtotal.toFixed(2) %></h3>
                <h3><span>Sub Total: </span> $<%= subtotal.toFixed(2) %></h3>
                <h3><span>Shipping and handling: </span> $<%= shippingCost.toFixed(2) %></h3>
                <h3><span>Tax: </span> $<%= tax.toFixed(2) %></h3>
                <h3><span>Total: </span> $<%= total.toFixed(2) %></h3>
            </section>
        </main>
    </body>
</html>