<%- include('_layouts/head') -%>
        <div>
            <form method="POST" action="/AngelsTeaInvoice">
                <%- include('_layouts/tea_selection') -%>   
                <%- include('_layouts/information') -%>       
            </form>           
            <%
            if(typeof errors !== 'undefined'){
                %><div id="errorMessages"><%
                    for(var error of errors){
                    %>
                        <script>
                            document.getElementById('<%= errors[0].param %>').focus();
                        </script>
                        <p><%= error.msg %></p>
                    <% }
                %></div><%
            }
            %>
        </div>
    </body>
</html>