<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Welcome to ANGELsTEA (school assignment Only)</title>
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
    </head>
    <body>
        <p id="title">
            <span id="titleWelcomeTo">Welcome To</span><span id="titleAngelsTea"> ANGELsTEA</span><br>
            <span id="titleSAOnly">(school assignment Only)</span>
        </p>