<form method="POST" action="/AngelsTeaInvoice">
    <div id="orderInformation">
        <label id="orderTitle">Order Information</label><br>
        <label>Name</label>
        <input id="name" type="text" placeholder="First and Lastname" name="name"><br>
        <label>Email</label>
        <input id="email" type="email" placeholder="email@domain.com" name="email"><br> 
        <label>Phone</label>
        <input id="phone" type="phone" placeholder="123-123-1234" name="phone"><br>
        <label>Address</label>
        <input id="address" type="text" name="address"><br>
        <label>City</label>
        <input id="city" type="text" name="city"><br>
        <label>Province</label>
        <select id="province" placeholder="" name="province">
            <option value="">----- Select -----</option>
            <option value="Alberta">Alberta</option>
            <option value="British Columbia">British Columbia</option>
            <option value="Manitoba">Manitoba</option>
            <option value="New Brunswick">New Brunswick</option>
            <option value="Newfoundland">Newfoundland</option>
            <option value="Nova Scotia">Nova Scotia</option>
            <option value="Ontario">Ontario</option>
            <option value="Prince Edward Island">Prince Edward Island</option>
            <option value="Quebec">Quebec</option>
            <option value="Saskatchewan">Saskatchewan</option>
            <option value="Nunavut">Nunavut</option>
            <option value="Northwest">Northwest</option>
            <option value="Yukon">Yukon</option>
        </select><br>
        <label>Postal Code</label>
        <input id="postcode" type="postcode" placeholder="X9X X9X" name="postcode"><br>
        <label>Delivery Time</label>
        <select id="deliverytime" type="time" name="deliverytime">
            <option value="">----- Select -----</option>
            <option value="1">1 day $30</option>
            <option value="2">2 day $25</option>
            <option value="3">3 day $20</option>
            <option value="4">4 day $15</option>
        </select><br>
        <input type="submit" id="placeOrder_button" value="Place Order">
    </div>
</form><br>