<div id="teaSelection">
    <div id="greentea">
        <img src="images/greentea.jpg" alt="Green Tea">
        <p class="teaNames">Organic Green Tea</p>
        <span id="greenteaPrice">$6.50</span>
        <input  id="greenteaNumber" type="text" name="greenteaQuantity" placeholder="0"></input>
    </div>  
    <div id=orangepekoe>
        <img src="images/orangepekoe.jpg" alt="Orange Pekoe">
        <p class="teaNames">Orange Pekoe</p>
        <span id="orangepekoePrice">$5.50</span>
        <input  id="orangepekoeNumber" type="text" name="orangepekoeQuantity" placeholder="0"></input>
    </div>
    <div id="rooibos">   
        <img src="images/rooibos.jpg" alt="Rooibos"> 
        <p class="teaNames">Rooibos</p>
        <span id="rooibosPrice">$7.50</span>
        <input  id="rooibosNumber" type="text" name="rooibosQuantity" placeholder="0"></input>
    </div>
</div>