body{
    background-image: url("../styles/lightyellow.jpg");
    background-repeat: repeat;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 26px;
}
h3{
    width: 55%;
    margin: 0 auto;
    color: blue;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#titleWelcomeTo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 37px;
    margin: 35px 0 20px;
}
#titleSAOnly{
    font-size: 20px;
    margin: 35px 0 20px;
}
#titleAngelsTea{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    margin: 35px 0 20px;
}
#title{
    text-align: center;
    margin: 30px 0;
}
#teaSelection{
    text-align: center;
}
#greentea, #orangepekoe, #rooibos{
    border: 3px solid #e1cd23;  
    display: inline-block;  
    background-color: white;
    padding-bottom: 3px;
    margin-bottom: 10px;
    margin-right: 0.5em;
}
#name{
    margin-top: 15px;
}
#email, #phone, #address, #city, #province, #postcode, #deliverytime{
    margin-top: 5px;
}
img{
    height: 11em;
    width: 22em;
    margin: 0;
}
.teaNames{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
#greenteaNumber, #orangepekoeNumber, #rooibosNumber{
    border: 2px solid black;
    padding: 5px 13px;
    width: 30px;
    text-align: center;
    font-size: 17px;
}
#greenteaPrice, #orangepekoePrice, #rooibosPrice{
    margin-right: 9em;
    margin-left: 0;
    font-weight: bold;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.itemQuantity{
    margin-bottom: 0.5em;
}
#greenteaPlus, #orangepekoePlus, #rooibosPlus{
    margin-right: 0.5em;
}
#Summary{
    height: 255px;
}
#orderSummary{
    width: 300px;
    font-weight: bold;
    float: left;
    font-size: 1.7em;
    margin-left: 18em;
    margin-bottom: 0.7em;
}
#itemSummary{
    margin-top: 10px;
    text-align: left;
    margin: 10px 35px 100px 9em;
    width: 14em;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    padding: 0 3em;
    font-size: 1.2em;
    width: 700px;
    float: left;
    margin-left: 19em;
}
th, td{
    padding: 3px 3px 3px 0;
}
th{
    padding-top: 15px;
    font-size: 22px;
}
#greenteaItem, #orangepekoeItem, #rooibosItem{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #a99f24;
    font-size: 18px;
    padding-right: 15px;
}
#placeOrder_button{
    background-color: #e1cd23;
    color: black;
    padding: 5px;
    font-weight: bold;
    font-size: 21px;
    margin-top: 0.7em;
    margin-left: 3em;
}
#orderTitle{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    margin: 3px 3px 3px 0;
}
#orderInformation{
    float: left;
    width: 300px;
    margin: 1em 0 0 34em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
#errorMessages{
    float: right;
    border: 2px solid black;
    margin: -0.3em 6em 0 0;
    padding: 1em 2em 1em 0;
    background-color: #ebf5fb;
}
#errorMessages p{
    font-weight: bold;
    margin: 0 0 0 2em;
    color: blue;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#labelReceipt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 33em;
    margin-top: 10px;
}
#orderReceiptId{
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #1e6141;
    text-align: left;
    float: right;
    margin-right: 10em;
}
#nameErrors, #emailErrors, #phoneErrors, #addressErrors, #cityErrors, #provinceErrors, #postcodeErrors, #deliverytimeErrors{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#outputResult{
    padding: 2em 0;
    border: 2px solid black;
    margin: 0 auto;
    min-width: 500px;
    max-width: 600px;
    background-color: #ebf5fb ;
}
#outputResult h3 span{
    color: gray;
}

